<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug-only harness: validates app -> ServiceManager -> daemon -> VD
             on an external surface, without needing the AA host -->
        <activity
            android:name=".debug.BridgeTestActivity"
            android:exported="true"
            android:label="Bridge Test"
            android:theme="@style/Theme.DiLinkAuto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
